.fg-bg{
    background-color: var(--fgColor);
}

.custom-table div{
    padding: 8px;
}

.custom-table th{
    background-color: var(--fgColor);
    position: sticky;
    top: 0;
    z-index: 2;
    /* border: 1px solid #ccc; */
}

td:first-child{
    position: sticky;
    left: 0;
    /* background-color: #fff; */
    background-color: var(--fgColor);
}

th:first-child{
    position: sticky;
    left: 0;
    z-index: 3;
}

th:last-child, td:last-child{
    position: sticky;
    right: 0;
    background-color: var(--fgColor);
}

th:last-child{
    z-index: 3;
}

tr:nth-child(even) {
    background-color: var(--fgColor);    
    opacity: 75%;
}


.absent {
    background-color: #ff7f7f; /* Red color for absent status */
    color: #000;
    padding: 2px 6px;
    border-radius: 3px;
    display: inline;
}

.present {
    background-color: #7fff7f; /* Green color for present status */
    color: #000;
    padding: 2px 6px;
    border-radius: 3px;
    display: inline;
}